<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/indexcontent1.css" />
  </head>
  <body>
    <div class="content1">
      <div class="toprow">
        <h1 class="mission">our expertise</h1>
        <div class="line2"></div>
        <p>
          By focusing on key positions and skill sets within our core
          competencies, our clients benefit from specialized experience and
          industry proficiency. We bring expertise in the following areas of
          technology:
        </p>
      </div>
      <div class="row">
        <div class="box">
          <i class="far fa-window-maximize"></i>
          <p class="title">web & software development</p>
          <div class="line"></div>
          <ul>
            <li>Software Architecture</li>
            <li>DevOps Engineer</li>
            <li>Mobile Development</li>
            <li>Software Engineer</li>
            <li>Web Development</li>
          </ul>
        </div>
        <div class="box">
          <i class="fas fa-sliders-h"></i>
          <p class="title">ux, product & digital</p>
          <div class="line"></div>
          <ul>
            <li>UI/ UX Design</li>
            <li>Visual Design</li>
            <li>Web Design</li>
            <li>Graphic Design</li>
            <li>User Research</li>
            <li>Product Management</li>
            <li>Digital Marketing</li>
            <li>Email Design and Development</li>
          </ul>
        </div>
        <div class="box">
          <i class="fas fa-network-wired"></i>
          <p class="title">it leadership</p>
          <div class="line"></div>
          <ul>
            <li>manager</li>
            <li>director</li>
            <li>vice president</li>
            <li>head of product</li>
            <li>head of infrastructure</li>
            <li>chief technology officer</li>
            <li>chief information officer</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <i class="far fa-hdd"></i>
          <p class="title">data</p>
          <div class="line"></div>
          <ul>
            <li>data warehouse/business intelligence developer</li>
            <li>data architecture</li>
            <li>database administration</li>
            <li>database development</li>
            <li>data analyst</li>
          </ul>
        </div>
        <div class="box">
          <i class="far fa-file-alt"></i>
          <p class="title">functional areas</p>
          <div class="line"></div>
          <ul>
            <li>business analyst</li>
            <li>project/program management</li>
            <li>scrum master</li>
            <li>agile coach</li>
            <li>qa testing</li>
            <li>technical writing</li>
            <li>instructional design</li>
          </ul>
        </div>
        <div class="box">
          <i class="fas fa-database"></i>
          <p class="title">infrastructure & security</p>
          <div class="line"></div>
          <ul>
            <li>desktop support</li>
            <li>helpdesk support</li>
            <li>mainframe development/architecture</li>
            <li>network engineering</li>
            <li>systems administration/engineering</li>
            <li>cyber security engineer</li>
            <li>firewall engineer</li>
            <li>network security</li>
            <li>iT audit</li>
            <li>identity and access management</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
