<div class="footer" id="footer">
  <ul class="footerlist">
    <p class="listlead">follow us</p>
    <div class="line"></div>
    <ul class="icons">
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
    </ul>
  </ul>
  <ul class="footerlist">
    <p class="listlead">sitemap</p>
    <div class="line"></div>
    <ul class="sitelinks">
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
    </ul>
  </ul>
  <ul class="footerlist">
    <p class="listlead">contact info</p>
    <div class="line"></div>
    <ul class="contacts">
      <li>j</li>
      <li>j</li>
      <li>j</li>
      <li>j</li>
    </ul>
  </ul>
  <ul class="footerlist">
    <p class="listlead">accolades</p>
    <div class="line"></div>
    <ul class="accolades">
      <a href=""><li>j</li></a>
      <a href=""><li>j</li></a>
    </ul>
  </ul>
</div>
