<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="footer" id="footer">
      <ul class="footerlist">
        <p class="listlead">follow us</p>
        <div class="line"></div>
        <ul class="icons">
          <a href=""
            ><li><i class="fab fa-twitter"></i></li
          ></a>
          <a href=""
            ><li><i class="fab fa-facebook-f" style="padding: 8px 11px"></i></li
          ></a>
          <a href=""
            ><li><i class="fab fa-linkedin-in"></i></li
          ></a>
          <a href=""
            ><li><i class="fab fa-instagram"></i></li
          ></a>
        </ul>
      </ul>
      <ul class="footerlist">
        <p class="listlead">sitemap</p>
        <div class="line"></div>
        <ul class="sitelinks">
          <a href=""><li>about us</li></a>
          <a href=""><li>talent</li></a>
          <a href=""><li>services</li></a>
          <a href=""><li>security</li></a>
          <a href=""><li>contact us</li></a>
          <a href=""><li>privacy policy & terms of use</li></a>
        </ul>
      </ul>
      <ul class="footerlist">
        <p class="listlead">contact info</p>
        <div class="line"></div>
        <ul class="contacts">
          <ul class="contacticons">
            <li><i class="fas fa-map-marker-alt"></i></li>
            <li><i class="fas fa-phone-alt"></i></li>
            <li><i class="far fa-envelope"></i></li>
          </ul>
          <ul class="contactinfo">
            <li class="location">2600 abbey court alpharetta, georgia 30004</li>
            <li>770-807-0583</li>
            <li>info@tier4group.com</li>
          </ul>
        </ul>
      </ul>
      <ul class="footerlist">
        <p class="listlead">accolades</p>
        <div class="line"></div>
        <ul class="accolades">
          <li><img src="/images/tier4img1.png" alt="" /></li>
        </ul>
      </ul>
    </div>
  </body>
</html>
