<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/indexcontent1.css" />
  </head>
  <body>
    <div class="content1">
      <div class="toprow">
        <h1 class="mission">what we do</h1>
        <div class="line2"></div>
      </div>
      <div class="row">
        <div class="box">
          <i class="fas fa-user"></i>
          <p class="title">project staffing</p>
          <div class="line"></div>
          <p>
            Contract resources are often needed to supplement a company’s
            current staff for a strategic project. We act with urgency and save
            you time by presenting qualified, screened candidates quickly. We
            are flexible and understand that for some roles our clients may want
            to evaluate an employee’s performance prior to offering full-time
            employment.​​
          </p>
        </div>
        <div class="box">
          <i class="fas fa-address-card"></i>
          <p class="title">DIRECT HIRE PLACEMENT</p>
          <div class="line"></div>
          <p>
            Attracting strong talent requires action and in today’s tight
            technology markets, strong recruiting skills are more important than
            ever! We create a customized search strategy targeting both active
            and passive candidates to bring you the strongest talent the market
            has to offer.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-pause-circle"></i>
          <p class="title">CUSTOM RECRUITING SOLUTIONS</p>
          <div class="line"></div>
          <p>
            When your headcount needs peak and exceed the capacity of your
            current recruiting staff, having a trusted, experienced RPO, or
            Recruitment Process Outsourcing, partner can make all the
            difference. We work with your team on a full customized recruiting
            solution where we can handle a portion of your recruiting needs or
            come on-site and handle everything from recruitment to on-boarding
            of new employees.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <i class="fas fa-search"></i>
          <p class="title">retained search</p>
          <div class="line"></div>
          <p>
            Retained search represents a clear commitment and partnership from
            both sides and is truly the best way to handle roles with
            significant impact on company or team performance, as well as highly
            complex or confidential hiring needs. We operate on an exclusive
            basis and employ a highly sophisticated search methodology centered
            on the client’s needs and culture. Our approach is thorough, highly
            collaborative, and backed by a generous placement guarantee.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-tools"></i>
          <p class="title">professional services</p>
          <div class="line"></div>
          <p>
            Have you ever walked into the doctor’s office and had them skip the
            exam and blood work and jump straight to a diagnosis? If so, you
            might want to find another doctor. Similar to a doctor, we sometimes
            find that the best way to serve our clients is by prescribing one of
            our professional services.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-lock"></i>
          <p class="title">security</p>
          <div class="line"></div>
          <p>
            We know that the security challenges your business faces could
            literally mean that your company loses everything if it’s not done
            right. Tier4 delivers the comprehensive security expertise required
            to help you address the unique needs that your business has.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
