<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/indexcontent2.css" />
  </head>
  <body>
    <div class="content2">
      <div class="downloadguide">
        <h2 class="download">download our hiring guide</h2>
        <div class="line2"></div>
        <h3 class="looking">looking to hire technology talent in ga?</h3>
        <p class="grouphiring">
          This is a great guide for gaining information about the hiring
          process.
        </p>
        <button class="downloadnow">download now!</button>
      </div>
      <div class="imagewrapper">
        <img src="/images/tier4img2.jpg" alt=" " />
      </div>
    </div>
  </body>
</html>
