<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body>
    <div class="nav" id="nav">
      <div class="tier4box">
        <div class="border"></div>
        <h1 class="tier4">tier <span>4</span> group</h1>
        <p class="tss">talent + services + security</p>
      </div>

      <div class="links">
        <ul>
          <a href=""><li>home</li></a>
          <a href=""><li>talent</li></a>
          <a href=""><li>services</li></a>
          <a href=""><li>security</li></a>
          <a href=""><li>resources</li></a>
          <a href=""><li>about</li></a>
          <a href=""><li>contact</li></a>
        </ul>
      </div>
    </div>
  </body>
</html>
