<div class="nav" id="nav">
  <div class="tier4box">
    <h1 class="tier4">tier <span>4</span> group</h1>
    <ul class="tss">
      <li>talent +</li>
      <li>services +</li>
      <li>security</li>
    </ul>
  </div>

  <div class="links">
    <ul>
      <a href=""><li>home</li></a>
      <a href=""><li>talent</li></a>
      <a href=""><li>services</li></a>
      <a href=""><li>security</li></a>
      <a href=""><li>resources</li></a>
      <a href=""><li>about</li></a>
      <a href=""><li>contact</li></a>
    </ul>
  </div>
</div>
