<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/opening.css" />
  </head>
  <body>
    <div class="opening">
      <div class="tier4box2">
        <h1 class="tier">tier <span>4</span> group</h1>
        <p class="ts">talent + services + security</p>
      </div>
    </div>
    <div class="opening2">
      <div class="tier4box2">
        <h1 class="tier">tier <span>4</span> group</h1>
        <p class="ts">talent + services + security</p>
      </div>
    </div>
    <div class="opening3">
      <div class="tier4box2">
        <h1 class="tier">tier <span>4</span> group</h1>
        <p class="ts">talent + services + security</p>
      </div>
    </div>
  </body>
</html>
