<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="textslide" id="textslide">
      <div class="leftarrow"><i class="fas fa-chevron-left"></i></div>
      <div class="middle" id="middle">
        <div class="slide1" id="slide1"></div>
        <div class="slide2" id="slide2"></div>
        <div class="slide3" id="slide3"></div>
      </div>
      <div class="rightarrow"><i class="fas fa-chevron-right"></i></div>
    </div>
  </body>
</html>
