<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/employers.css" />
    <link rel="stylesheet" href="/css/jobseekers.css" />
    <link rel="stylesheet" href="/css/cybersecurity.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs'); %>
    <div class="cyber">
      <h1 class="jobs">CYBERSECURITY OPERATIONS AS A SERVICE</h1>
    </div>
    <div class="tier4secure">
      <h1 class="t">tier4 secure</h1>
      <div class="line2"></div>
      <p class="traditional">
        The traditional MSSP has become a commodity. Rarely can an MSSP provide
        affordable and effective monitoring, threat intelligence & detection,
        and response services while at the same time helping you adapt your
        in-house skills and processes to become more cyber resilient.
      </p>
    </div>
    <div class="securerow">
      <h1>
        TIER4 GROUP HAS PARTNERED WITH CYBER DEFENSE INTERNATIONAL TO DELIVER:
      </h1>
      <div class="rowof">
        <div class="block">
          <i class="fas fa-desktop"></i>
          <h2 class="text">MONITORING</h2>
          <p class="subtext">
            Realtime 24x7x365 monitoring of critical applications and
            infrastructure.
          </p>
        </div>
        <div class="block">
          <i class="fas fa-exclamation-triangle"></i>
          <h2 class="text">ALERTS</h2>
          <p class="subtext">
            Customized methodology for creating alert use cases and automated
            remediation tailored to each client’s unique business.
          </p>
        </div>
        <div class="block">
          <i class="fas fa-network-wired"></i>
          <h2 class="text">INTELLIGENCE</h2>
          <p class="subtext">
            Managed cyber threat intelligence from machine and human threat
            hunting sources.
          </p>
        </div>
        <div class="block">
          <i class="far fa-comments"></i>
          <h2 class="text">ADVICE</h2>
          <p class="subtext">
            Business advisory services to develop organizational policies and
            processes that strengthen a client’s cybersecurity posture.
          </p>
        </div>
      </div>
    </div>
    <div class="doourthing">
      <h1 class="we">
        GET IN TOUCH WITH US TODAY TO PROTECT YOUR BUSINESS AND CUSTOMERS
        24/7/365.
      </h1>
      <button class="getstarted">contact us</button>
    </div>
    <div class="successstories">
      <h1 class="ss">success story</h1>
      <div class="line2"></div>
    </div>
    <div class="story">
      <div class="inner">
        <h1 class="multi">MULTIBILLION DOLLAR PROPERTY MANAGEMENT COMPANY</h1>
        <p class="storyquote">
          “Tier4 Group helped us confirm our cybersecurity strategy and
          implement a multitude of tactical next steps from becoming GDPR
          compliant to establishing a right-sized security operations function.
          I would highly recommend calling on Tier4 Group for help.”
        </p>
        <p class="vp">–Vice President, Information Security</p>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
