<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/jobseekers.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs'); %>
    <div class="jobseekers">
      <h1 class="jobs">job seekers</h1>
    </div>

    <div class="talent">
      <h2 class="join">join our talent network</h2>
      <div class="line2"></div>
      <p>
        You are the key to a company’s success! Tier4 Group is committed to
        understanding each one of our candidate’s unique skill sets and career
        objectives and matching those to rewarding opportunities and exciting
        projects. Search our open jobs and apply for your next career now!
      </p>
      <button class="searchopenings">search our job openings</button>
      <h2 class="success">success stories</h2>
      <div class="line2"></div>
      <%- include('./partials/slider1.ejs') %>
    </div>
    <%- include('./partials/indexcontent2.ejs') %> <%-
    include('./partials/footer.ejs'); %>
  </body>
</html>
