<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/employers.css" />
    <link rel="stylesheet" href="/css/jobseekers.css" />
    <link rel="stylesheet" href="/css/indexcontent1.css" />
    <link rel="stylesheet" href="/css/proservices.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs'); %>
    <div class="proservices">
      <h1 class="jobs">professional services</h1>
    </div>
    <div class="content1">
      <div class="toprow">
        <h1 class="mission">professional services solutions</h1>
        <div class="line2"></div>
        <p>
          Have you ever walked into the doctor’s office and had them skip the
          exam and blood work and jump straight to a diagnosis? If so, you might
          want to find another doctor. We’ve found the best way to serve our
          clients is prescribing one of our professional services. When you meet
          with Tier4 Group we get to know you and your needs through a series of
          interviews.
        </p>

        <h1 class="mission">why professional services?</h1>
        <p>
          Uninformed and partially informed decisions typically result in
          substantially increased costs and overruns. Through the process of
          discovery interviews, data analysis, and solutions assessment, our
          professional services bring the benefit of a completely informed
          decision.
        </p>
      </div>
      <div class="row">
        <div class="box">
          <i class="fas fa-dollar-sign"></i>
          <p class="title">iT spend audit</p>
          <div class="line"></div>
          <p>
            Chances are you’re not satisfied with the amount of IT spend you
            have each month. We can help you fully understand each dollar you’re
            spending and where there are savings.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-cloud"></i>
          <p class="title">cloud readiness assessment</p>
          <div class="line"></div>
          <p>
            Are you taking your company to the cloud and not familiar with how
            it works? We can help you make sense of the cloud by better
            understanding your goals, each application, use case, and budget.
          </p>
        </div>

        <div class="box">
          <i class="fas fa-tools"></i>
          <p class="title">global infrastructure assessment</p>
          <div class="line"></div>
          <p>
            Whether you have a data center in Atlanta or 50 all over the world,
            Tier4 Group can assess your entire infrastructure to help you better
            architect and plan for current and future needs.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-phone-alt"></i>
          <p class="title">global telephony assessment</p>
          <div class="line"></div>
          <p>
            All organizations face telephony challenges. Tier4 Group can help
            you fully understand what is needed by your enterprise and whether
            an on-prem PBX or UCaaS solution is best.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <i class="fas fa-network-wired"></i>
          <p class="title">global connectivity assessment</p>
          <div class="line"></div>
          <p>
            Enterprises spend billions of dollars on connectivity each year. If
            you haven’t had a connectivity assessment in the last 2-3 years, you
            may be missing out on benefits and cost savings that new technology
            affords.
          </p>
        </div>
        <div class="box">
          <i class="fab fa-react"></i>
          <p class="title">wireless cost containment</p>
          <div class="line"></div>
          <p>
            Let Tier4 Group find you a better way with artificial intelligence
            and machine learning to best direct your cellular spend. This audit
            takes only a few hours of our clients and shows drastic savings.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-city"></i>
          <p class="title">enterprise architecture as a service</p>
          <div class="line"></div>
          <p>
            Tier4 has over 300 years of combined IT experience on our niche
            team. We understand enterprise architecture as good as any “Big 4
            Firm” you can find but at a fraction of the cost. If you need an
            enterprise architect on demand and/or don’t have the budget for a
            full time employee to fill this role, Tier4 Group is your answer.
          </p>
        </div>
        <div class="box">
          <i class="fas fa-mobile-alt"></i>
          <p class="title">application rationalization</p>
          <div class="line"></div>
          <p>
            Apps, Apps, Apps… Apps are everywhere! Tier4 Group can help you know
            what you are using, what you are paying for, and whether or not your
            data can be migrated to the cloud.
          </p>
        </div>
      </div>
    </div>
    <div class="doourthing">
      <h1 class="we">
        THERE'S A BETTER WAY! LET US TAKE ON THE HEADACHES SO YOU AND YOUR STAFF
        CAN FOCUS ON STAYING PROFITABLE.
      </h1>
      <p class="getin">Get in touch with us today!</p>
      <button class="getstarted">get started</button>
    </div>
    <div class="successstories">
      <h1 class="ss">success stories</h1>
      <div class="line2"></div>
    </div>
    <%- include('./partials/slider1'); %> <%-
    include('./partials/indexcontent2.ejs') %> <%-
    include('./partials/footer.ejs'); %>
  </body>
</html>
