<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/employers.css" />
    <link rel="stylesheet" href="/css/jobseekers.css" />
    <link rel="stylesheet" href="/css/cybersecurity.css" />
    <link rel="stylesheet" href="/css/tier4security.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs'); %>
    <div class="cyber">
      <h1 class="jobs">cyber resiliency services</h1>
    </div>
    <div class="tier4secure">
      <h1 class="t">tier4 cyber resiliency services</h1>
      <div class="line2"></div>
      <p class="traditional">
        Tier4 Group understands that business conditions change and a company’s
        cyber and infrastructure operations need to quickly adapt to meet those
        changes. Whether you need to expand, contract or completely transform
        the way you manage critical cyber functions, Tier4 Group Cyber
        Resiliency Services can help.
      </p>
    </div>
    <div class="content1">
      <div class="row">
        <div class="block">
          <i class="fas fa-file-invoice"></i>
          <h2 class="title">INFRASTRUCTURE RESILIENCY</h2>
          <p>
            Enable clients to expand and contract their virtual environments to
            meet the changing needs of their remote workforce.
          </p>
        </div>
        <div class="block">
          <i class="fas fa-mobile-alt"></i>
          <h2 class="title">MULTI-FACTOR AUTHENTICATION AS A SERVICE</h2>
          <p>
            Easily implement MRA on all sensitive applications without having to
            procure software and develop role-based business rules from scratch.
          </p>
        </div>
        <div class="block">
          <i class="fas fa-cloud-upload-alt"></i>
          <h2 class="title">CLOUD PLATFORM HARDENING</h2>
          <p>
            Conduct a complete security check O365, Google, Azure and AWS
            environments to ensure that security configurations are in line with
            best practiced and each client’s business policies.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="block">
          <i class="fas fa-exclamation-triangle"></i>
          <h2 class="title">CYBERSECURITY OPERTATION AS A SERVICE</h2>
          <p>
            Realtime monitoring of critical applications and infrastructure to
            identify, detect, protect and respond to internal and external
            threats.
          </p>
        </div>
        <div class="block">
          <i class="far fa-calendar-alt"></i>
          <h2 class="title">CRITICAL EVENT CYBER AWARENESS & ENGAGEMENT</h2>
          <p>
            Cybercriminals take advantae of unusual business circumstances to
            prey on individuals and their cyber vulnerability. use current news
            headings combined with proven cyber awareness education to make your
            workforce more cyber resilient than ever.
          </p>
        </div>
      </div>
    </div>
    <div class="doourthing">
      <h1 class="we">
        GET IN TOUCH WITH US TODAY TO PROTECT YOUR BUSINESS AND CUSTOMERS
        24/7/365.
      </h1>
      <button class="getstarted">contact us</button>
    </div>
    <div class="successstories">
      <h1 class="ss">success story</h1>
      <div class="line2"></div>
    </div>
    <div class="story">
      <div class="inner">
        <h1 class="multi">MULTIBILLION DOLLAR PROPERTY MANAGEMENT COMPANY</h1>
        <p class="storyquote">
          “Tier4 Group helped us confirm our cybersecurity strategy and
          implement a multitude of tactical next steps from becoming GDPR
          compliant to establishing a right-sized security operations function.
          I would highly recommend calling on Tier4 Group for help.”
        </p>
        <p class="vp">–Vice President, Information Security</p>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
