* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.content1{
    width: 75%;
    margin: 0 auto;
}
.row{
    display: inline-flex;
    height: 25%;
    margin: 5% auto;
    width: 100%;
}

.block{
    width: 25%;
}

.block > i, .title{
margin: 10px 0;
}

.block > i{
    font-size: 65px;
}

.title{
    font-weight: bold;

}

.we {
    color: white;
}
